#carosa_gonzalo2{
	/* border: red dashed 2px; */
	background-color: white;
	/* height: 10%; */
	/* margin-top: -0%;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center; */
  }

  .carosatexto{
	height: 25rem;

  }

  #carosa_gonzalo{
	background-color: #1CA59D;

	/* border: #00CDAC solid 2px; */
	/* display: flex; */
	/* justify-content: center; */
	/* align-content: center; */
	/* width: 25%; */
  }
  .carousel-item {
	/* display: flex; */
	/* justify-content: center; */
	/* align-content: center; */
	min-height: 10rem;
	height: 40rem;

	}
.carousel-item .carousel-caption{

}
.carousel-item p{
	font-family: okine ;
	color: black;
	font-size: 120%;
	font-weight:100;
	margin-top: 5%;
	/* color: red; */

	display: flex;
	justify-content: center;
	align-content: center;
	/* min-height: 400px; */
	font-size:xx-large;
	}